[Unit]
Description=Loki is a horizontally-scalable, highly-available, multi-tenant log aggregation system
Documentation=https://github.com/grafana/loki

[Service]
ExecStart=/usr/local/bin/loki -config.file=/etc/loki/loki.yml
Restart=always
User=loki

[Install]
WantedBy=multi-user.target
