[Unit]
Description=Node exporter for Prometheus/VictoriaMetrics
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
ExecStart=/usr/local/bin/node_exporter
Restart=always

[Install]
WantedBy=multi-user.target
