[Unit]
Description=High-performance, cost-effective and scalable time series database, long-term remote storage for Prometheus
Documentation=https://docs.victoriametrics.com/

[Service]
ExecStart=/usr/local/bin/victoriametrics -storageDataPath /var/lib/victoriametrics -retentionPeriod 15 -promscrape.config=/etc/victoriametrics/victoriametrics.yml
Restart=always
User=victoriametrics

[Install]
WantedBy=multi-user.target
